body{
    background-color: midnightblue  ;
}
h1{
    color: aliceblue;
    text-align: center;
    display: grid;
}
p{
    color: rgb(13, 102, 180);
    text-align: center;
    display: flexbox;
}
div{
    border: solid rgb(136, 255, 0);
    border-radius: 30px;
    display: inline-block;
    display: flexbox;
}
img{
    width: 70px;
    text-align:justify;
    
}